// _var color
$c1: #ffffff;
$c2: #666666;
$c3: #D5D5D5;
$c4: #E32124;

$c5: #F7F7F7;
$c6: #000000;
$c7: #F77705;
$c8: #999;
$c9: #333;
$c10: #3C3C3C;

$c11: #4EC76E;
$c12: #ddd;
$c13: #FAFAFA;

$c14: #338DBC;
$min: 15px;
$max: 30px;